$width:300px;
$height:300px;
*,*::after,*::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color: white;
}

a,a ::after{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
  color: brown;
}
.container{
   width: $width;
  height: $height;
  perspective: 1000px;
  margin:100px auto 0;
}
.containerForm{
background-image: url(../../assets/upload/6.jpg);
display: flex;
flex-direction: row;
align-items: flex-end;
}
input[type='file']{
  display:block;
}
form{
  background-color: url(../../assets/upload/4.jpg);
}
.droite{
  display: flex;
  background-color: rgb(20, 20, 19);
  flex-direction: column;
  justify-content: end;
  align-items:center;
  #description{
    justify-content: end;
    align-items:end;
      
  }
}
.gauche{
  background-color: aqua;
  display: flex;;
  background-color: rgb(24, 24, 22);
  flex-direction: column;
justify-content: start;
align-items: center;
}
fieldset{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.cube{
  font-size: 30px;
  color: white;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 15s infinite linear;
}

button{
  border:2px solid white;
  border-radius: 5px;
  color: white;
  height:30px;
  background-image: url(../../assets/upload/2.jpg);
  cursor: pointer;
  .active{
    color: brown;
    text-decoration: none;
  }
  :hover{
    color:brown;
    border:2px solid white;
    text-decoration: none;
    }
}
/*button .active{
  color: brown;
  text-decoration: none;
}
button :hover{
color:blueviolet;
border:2px solid white;
text-decoration: none;
}*/
label{
  text-align: center;;
}
.face{
  position: absolute;
  width: $width;
  height: $height;
  padding-top:60px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  :hover{
    color:brown;
  }
}

.top{
  text-align: center;
  background-image: url(../../assets/upload/2.jpg);
  transform: rotateX(90deg) translateZ(150px);
}

.bottom{
  text-align: center;
  background-image: url(../../assets/upload/6.jpg);
  transform: rotateX(-90deg) translateZ(150px);
}
.right{
  text-align: center;
  background-image: url(../../assets/upload/3.jpg);
  transform:  rotateY(90deg) translateZ(150px);
}

.left{
  text-align: center;
  background-image: url(../../assets/upload/5.jpg);
  transform:rotateY(-90deg) translateZ(150px);
}
.front{
  text-align: center;
  background-image: url(../../assets/upload/1.jpg);
  transform:rotateX(90deg) translateZ(150px);
}
.back{
  text-align: center;
  background-image: url(../../assets/upload/6.jpg);
  transform: rotateX(0deg) translateZ(150px); 
}

header{
  align-items: center;
  justify-content: space-around;
  display:flex;
  margin-top:0px;
  height:45px;
  width:100%;
  background-image: url(../../assets/upload/6.jpg);
}

nav{
justify-content: center;
align-items: center;;
}

footer{
margin-bottom: 0px;
width:100%;
height:45px;
}

@keyframes spin {
  from{
    transform:rotateX(0deg) rotateY(0);
  }
  to{
    transform: rotateX(360deg)rotateY(360deg)
  }
  
}
@media screen and (max-width:480px){
  
  $width:150px; 
  $height:150px;
  
}
@media screen and (max-width:900px){
  
  $width:300px; 
  $height:300px;
  
}
/*.box{
  --width:40vmin;
  --height:40vmin;
  --depth: 45vmin;
  --hue :30;
  --alpha:0.8;

  width: var(witdh);
  height: var(height);
  position: relative;
  perspective: 1600px;
  transform-style: preserve-3d;
  transform : rotateX(225deg) rotateY(145deg);
  animation : animationBox 5s infinite linear both alternate;
  will-change: transform;
}
.box__face{
  position: absolute;
  left:50%;
  top:50%;  
  color:white;
  font-size: calc(1vm+1rem);
  text-align:center;
  line-height:  var(--height);
}
.box__face--back{
  background-image: url(../../assets/upload/2.jpg);
}

.box__face--front,.box__face--back{
  width: var(--width);
  height:var(--height);
  --hue:220;
  --alpha:0.6;
  --coeff:0.5;
  transform:translate(-50%,50%) translate3d(0,0,calc(var(--depth)*--coeff));
  
}

.box__face--front{
  background-image: url(../../assets/upload/1.jpg);
  --coeff:-0.5;
  transform: translate3d(0,0,calc(var(--depth)*--coeff));
}
/* .box__face--right{
    background-image: url(../../assets/upload/4.jpg);
}

.box__face--right,.box__face--left{
  --rotate: 90deg;
  width: var(--width);
  height:var(--height);
  --hue:220;
  --alpha:0.6;
  --coeff:0.5;
  transform:translate(-50%,50%) rotateY(--rotate) translate3d(0,0,calc(var(--depth)*var(--width)));
}

.box__face--left{
  --rotate: -90deg;
  background-image: url(../../assets/upload/3.jpg);

}
/*
.box__face--top{
  background-image: url(../../assets/upload/5.jpg);
  
.box__face--bottom{
  
  background-image: url(../../assets/upload/6.jpg);
}
.box__face--top,.box__face--bottom{
  width: var(--width);
  height:var(--height);
  --hue:220;
  --alpha:0.6;
  --coeff:0.5;
}
*/
/*
@keyframes animationBox{
  from{
    transform: rotateX(0) rotateY(360deg);
  }to{
    transform: rotateX(360deg) rotateY(360deg);
  }
}*/


























/*.wrapper {
    background: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(444px, 1fr));
  }
  
  .wrapper__red, .wrapper__green {
    align-self: center;
  }
  
  .wrapper__red {
    z-index: 1;
    background: red;
  }
  
  .wrapper__green {
    justify-self: end;
    height: 100%;
    background: green;
  }
  .plant-grid{
    display: grid;
    min-height: 150vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
    row-gap: 10px;
    column-gap: 10px;
    }
    
    .plant-grid1{
    background-image: url(../../assets/upload/1.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
    }
    
    .plant-grid2{
    background-image: url(../../assets/upload/2.jpg);
    z-index: 1;
    grid-column: 1/5;
    }
    
    .plant-grid3{
    background-image: url(../../assets/upload/3.jpg);
    z-index:2;
    grid-column: 3/5;*/
    //}